In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Adicionando Base de Dados

In [36]:
ds_foz = pd.read_csv('./datasets/casos/fozdoiguacu.csv')

In [29]:
ds_foz.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,nivel,versao_modelo,tweet,Rt,pop,tempmin,receptivo,transmissao,nivel_inc,notif_accum_year
0,2015-12-27,201552,68.0,68,68,68,0.000003,25.7659,2,2020-12-10,11.0,1.0,263915.0,23.0,1,0,1,3190
1,2016-01-03,201601,256.0,256,256,256,1.000000,97.0009,2,2020-12-10,6.0,2.0,263915.0,24.0,1,1,1,3190
2,2016-01-10,201602,416.0,416,416,416,1.000000,157.6270,3,2020-12-10,9.0,3.0,263915.0,23.0,1,1,2,3190
3,2016-01-17,201603,754.0,754,754,754,1.000000,285.6980,4,2020-12-10,10.0,3.0,263915.0,21.0,0,1,2,3190
4,2016-01-24,201604,1157.0,1157,1157,1157,1.000000,438.3990,4,2020-12-10,19.0,2.0,263915.0,22.0,0,1,2,3190

# Limpando Bade de Dados

In [37]:
col_remove = ['Localidade_id','umidmax','id','casos_est','casos_est_min','casos_est_max','p_rt1','tweet','Rt','nivel_inc','versao_modelo','nivel','transmissao','notif_accum_year','receptivo',]
ds_foz_simple = ds_foz.drop(col_remove,axis=1)

In [38]:
ds_foz_simple.head()

   data_iniSE      SE  casos  p_inc100k       pop  tempmin
0  2015-12-27  201552     68    25.7659  263915.0     23.0
1  2016-01-03  201601    256    97.0009  263915.0     24.0
2  2016-01-10  201602    416   157.6270  263915.0     23.0
3  2016-01-17  201603    754   285.6980  263915.0     21.0
4  2016-01-24  201604   1157   438.3990  263915.0     22.0